header {
    background-color: #c8dc9c;
    padding: 0px;
    
}

/*Div presente no header*/
#cabeçalho{
    display:inline-block;
    padding: 0px;
    display: flex;
    align-items: center;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #36DA5A;
}
/*Botão da logo*/
#button1 {
    cursor: pointer;
    float: left;   
    max-height: 5vw;
}
/*Botões adjacentes do cabeçalho*/
.button2 {
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none; 
    margin-left: 3vw;
}
/*Botões da tela de login que serão substituidos posteriormente*/
.button3 {
    border-radius: 50% 50%;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: green;
    text-decoration: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 5rem;
    margin: 0 auto;
}
/*Barra de pesquisa*/
#pesquisa{
        margin-left: 17vw;
        margin-right: 0;
        width: 28vw;
        height: 30px;
        border-radius: 12px 0 0 12px;
        box-shadow: 0 2px rgb(82, 129, 113);
        border: none;
        outline: none;
        text-align: center;
    }
/* botão de pesquisar da barra de pesquisa*/
.enter{
    margin-left: 0;
    margin-right: 4vw;
    width: 36px;
    height: 32px;
    box-shadow: 0 2px rgb(82, 129, 113);
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    border: none;
}
#lupa{
    max-height: 24px;
}
