header {
    background-color: mediumaquamarine;
    padding: 0px;
    
}

body {
    background-color: whitesmoke;
}
div{
    display:inline-block;
    padding: 0px;
    display: flex;
    align-items: center;
    
}
#button1 {
    cursor: pointer;
    float: left;   
    max-height: 5vw;
}

.button2 {
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none; 
    margin-left: 4vw;
}
.button3 {
    border-radius: 50% 50%;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: green;
    text-decoration: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 5rem;
    margin: 0 auto;
}
#pesquisa{
        margin-left: 14vw;
        margin-right: 0;
        width: 28vw;
        height: 30px;
        border-radius: 12px 0 0 12px;
        box-shadow: 0 2px rgb(82, 129, 113);
        border: none;
        outline: none;
        text-align: center;
    }
.enter{
    margin-left: 0;
    margin-right: 4vw;
    width: 36px;
    height: 32px;
    box-shadow: 0 2px rgb(82, 129, 113);
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    border: none;
}
